/** { margin: 0; padding: 0; }*/

button, select {
    -webkit-appearance: none;
    border-radius: 0;
    padding: 3px 5px;
    text-align: center;
}

button, select {
    border: 1px solid #000;
    color: black;
    background-color: #ddd;
}
button[disabled], select[disabled] {
    background-color: rgba(0, 0, 0, 0.1);
    color: #aaa;
}
button.active {
    background-color: yellow;
}