.object {
  position: absolute;
  top: -10px;
  left: -25px;
  -webkit-transform: translate3d(0, 0, 0);
  min-width: 50px;
  height: 20px;
  background-color: #ecf0f1;
  border: 1px solid #95a5a6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  z-index: 5;
  cursor: pointer; }
  .object.selected {
    border: 1px solid #4d9bc8; }
  .object .inputs, .object .outputs {
    position: absolute;
    left: 2px;
    height: 2px;
    width: 100%; }
    .object .inputs > span, .object .outputs > span {
      position: relative;
      float: left;
      cursor: pointer;
      display: inline-block;
      width: 8px;
      margin-right: 3px;
      height: 100%;
      background-color: #95a5a6; }
      .object .inputs > span:hover, .object .outputs > span:hover {
        background-color: #4d9bc8; }
      .object .inputs > span:active, .object .outputs > span:active {
        background-color: #62c6ff; }
  .object .inputs {
    top: 0px; }
    .object .inputs > span:hover:after {
      position: absolute;
      top: -25px;
      left: 0px;
      padding: 4px;
      white-space: nowrap;
      z-index: 900;
      background-color: #95a5a6;
      content: attr(data-help);
      font-size: 10px;
      color: #ecf0f1;
      border-radius: 2px;
      -webkit-border-radius: 2px; }
  .object .outputs {
    bottom: 0px; }
    .object .outputs > span:hover:after {
      position: absolute;
      top: 18px;
      left: 0px;
      padding: 4px;
      white-space: nowrap;
      z-index: 900;
      background-color: #95a5a6;
      content: attr(data-help);
      font-size: 10px;
      color: #ecf0f1;
      border-radius: 2px;
      -webkit-border-radius: 2px; }
  .object [contenteditable="true"], .object .editable {
    margin-top: 2px;
    padding: 0 3px 0 2px;
    height: 14px;
    width: 100%;
    font-size: 10px; }
  .object [contenteditable="true"] {
    -webkit-user-select: text;
    cursor: text; }
